<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>no info</title>
</head>
<body>
    {% with message = get_flashed_messages() %}
        {% if message %}
          {%for msg in message%}
          <div class=alert-dangaer>{{msg}}</div>
          {%endfor%}
        {%endif%}
    {%endwith%}
    <a href={{url_for('log.create_acc')}}><button> create account</button></a>
    <form method="post">
        <label>Name</label>
        <input type="text" name="name" id="name">
        <label>Password</label>
        <input type="password" name="passw" id="passw">
        <button>Login</button>

    </from>
   
    
{{drawback}}
</body>

</html>