<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
    <form method="post">
      <label for="Name">Name</label>
      <input name="name" id="name" type="text" />
      <label for="Name">Password</label>
      <input name="pass" id="pass" />
      <label for="Confirm">Confirm</label>
      <input name="Cpass" id="Cpass" />
      <label for="Name">Acc_Type</label>
      <select name="Type" id="Type">
        User Type:
        <option value="student">Student</option>
        <option value="host">Event Host</option>
      </select>
      <button>create account</button>
    </form>
  </body>
</html>
